[submodule "projects/Banking-project"]
    path = projects/Banking-project
    url = https://github.com/AhmedKhalaf88/bank-system.git
[submodule "projects/Guess-my-number"]
    path = projects/Guess-my-number
    url = https://github.com/AhmedKhalaf88/guess-my-number-game.git
[submodule "projects/Pig-Game"]
    path = projects/Pig-Game
    url = https://github.com/AhmedKhalaf88/pig-game.git
[submodule "projects/travel-list"]
    path = projects/travel-list
    url = https://github.com/AhmedKhalaf88/travel-list.git
    
    